.footer {
  margin-top: 96px;
}

.footer_wrapper {
  padding: 100px;
  display: flex;
  gap: 100px;
  border-radius: 40px;
  background-color: var(--background-container);
}

.left_pane {
  display: flex;
  width: 45.8%;
  flex-direction: column;
  gap: 40px;
}

.left_pane h2 {
  color: var(--text-light);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.icons {
  display: flex;
  gap: 12px;
}

.icon-wrapper {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light);
}

.right_pane {
  padding-top: 33px;
}

.contact-us {
  color: var(--text-light);
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.contacts a {
  text-decoration: none;
}

.contacts {
  margin-top: 37px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.tel,
.geo {
  position: relative;
  width: 177px;
}

.tel:after,
.geo:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0px;
  height: 2px;
  background: var(--text-light);
  transition: all 500ms;
}

.contacts p {
  display: inline;
  margin-left: 2px;
  color: var(--text-light);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

@media (hover: hover) {
  .icon-wrapper:hover {
    background-color: var(--background-body);
    border: none;
    transition: background-color 500ms ease-out;
  }

  .icon-wrapper:hover {
    cursor: pointer;
  }

  .icon-wrapper:hover .twitter,
  .icon-wrapper:hover .instagram,
  .icon-wrapper:hover .facebook {
    stroke: var(--text-dark);
    transition: stroke 500ms ease-out;
  }

  .tel:hover:after,
  .geo:hover:after {
    width: 100%;
    left: 0;
  }
}
