@import "variables.css";
@import "common.css";
@import "header.css";
@import "footer.css";

.section-enjoy_content {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  padding: 100px 0 100px 100px;
}

.section_enjoy video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: -100;
}

.enjoy_wrapper {
  width: 530px;
  color: var(--text-inverse);
}

.enjoy_wrapper h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

.enjoy_wrapper p {
  margin-top: 41px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.enjoy_wrapper .menu {
  margin-top: 40px;
  display: flex;
  width: 200px;
  padding: 20px 0px;
  justify-content: flex-end;
  border: none;
  border-radius: 100px;
  background-color: var(--bg-page);
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  transition: all 300ms ease-in;
}

.enjoy_wrapper .coffee-cup-button {
  margin-right: 60px;
  transition: opacity 300ms ease-in;
  opacity: 0;
  overflow: hidden;
}


.section_favorite .section-header {
  text-align: center;
}

.slider {
  height: 684px;
  position: relative;
}

.slides-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  animation: 0.5s ease-in-out;
}

.slide {
  display: none;
}

.slide.active,
.slide.next {
  display: flex;
}

.coffee_name {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-top: 17px;
  margin-bottom: 15px;
}

.coffee_description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.coffee_price {
  font-size: 24px;
  font-weight: 600;
  margin-top: 17px;
  margin-bottom: 40px;
}

.left_arrow,
.right_arrow {
  position: absolute;
  top: 42.5%;
}

.left_arrow {
  left: 5px;
}

.right_arrow {
  right: 5px;
}

.controls {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 12px;
}

.controll-wrapper {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: var(--border-inverse);
}

.control {
  width: 100%;
  height: 4px;
  border-radius: 100px;
  background-color: var(--border-inverse);
}

.control.active {
  background-color: var(--border-inverse);
  animation: progress 7s linear;
}

.galery {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 660px;
  height: 590px;
  border-radius: 20px;
  overflow: hidden;
}

.left_row,
.right_row {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.left_row .frame_second,
.right_row .frame_first {
  height: 430px;
}

.frame img {
  width: 100%;
  transform: scale(110%);
  transition: 500ms ease-out;
}

.mobile-app .content-wrapper {
  justify-content: space-between;
}
.mobile-app .section-header {
  margin: 0;
}

.offer {
  width: 630px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 140px;
}

.offer .buttons {
  display: flex;
  gap: 20px;
}

.download_block_buttons {
  display: flex;
  gap: 20px;
}

.button-download {
  display: flex;
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-inverse);
  background-color: var(--bg-page);
}

.offer .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.button-download .text {
  display: flex;
  flex-direction: column;
}

.button-download .description {
  color: var(--text-primary);
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
  text-align: left;
}

.button-download .platform {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.screens img {
  width: 100%;
}

.right_arrow {
  transform: rotate(180deg);
}

@media only screen and (max-width: 1024px) {
  .offer {
    padding: 0;
  }
  .mobile-app .content-wrapper {
    flex-direction: column;
  }

  .section-enjoy_content {
    padding-left: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .left_row .frame_second,
  .right_row .frame_first {
    display: none;
  }

  .frame {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .content-wrapper {
    padding: 0 16px;
  }

  .section-header {
    font-size: 32px;
  }

  .enjoy_wrapper {
    width: 100%;
  }

  .section-enjoy_content {
    padding: 60px 16px;
  }

  .enjoy_wrapper h1 {
    font-size: 42px;
    line-height: 115%;
  }

  .section_enjoy {
    padding: 60px 16px;
  }

  .left_arrow,
  .right_arrow {
    display: none;
  }

  .coffee_description {
    width: 100%;
  }

  .focus_text {
    font-size: 32px;
  }

  .frame img {
    transform: scale(210%);
  }

  .offer {
    width: 100%;
  }

  .mobile-app {
    gap: 39px;
  }

  .download_block_buttons {
    flex-wrap: wrap;
  }

  .screens {
    margin-left: 0px;
  }

  .screens img {
    width: 348px;
    height: 348px;
  }
}

@media only screen and (max-width: 720px) {
  .slides-container {
    width: 100%;
  }
}

@media (hover: hover) {
  .enjoy_wrapper .menu:hover,
  .left_arrow:hover,
  .right_arrow:hover {
    cursor: pointer;
  }

  .controls .active:hover {
    cursor: default;
  }

  .enjoy_wrapper .menu:hover .coffee-cup-button {
    opacity: 1;
    overflow: visible;
  }

  .enjoy_wrapper .menu:hover .btn-menu-text {
    margin-right: 8px;
    transition: all 300ms ease-in;
  }

  .control__1:hover,
  .control__2:hover,
  .control__3:hover {
    cursor: pointer;
    background-color: var(--border-inverse);
  }

  .frame:hover img {
    transform: scale(100%);
  }

  .svg-arrow:hover {
    fill: var(--bg-container);
    transition: fill 500ms ease-out;
  }

  .svg-arrow:hover .path,
  .svg-arrow:hover .rect {
    stroke: var(--bg-page);
    transition: stroke 500ms ease-out;
  }

  .button-download:hover {
    cursor: pointer;
    background-color: var(--bg-container);
    color: var(--text-inverse);
    border: none;
    transition: background-color 500ms ease-in;
  }

  .button-download:hover span {
    color: var(--text-inverse);
    transition: color 500ms ease-in;
  }

  .button-download:hover .apple,
  .button-download:hover .google {
    fill: var(--bg-page);
    transition: fill 500ms ease-in;
  }
}
