:root {
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --border-light: #c1b6ad;
  --border-dark: #665f55;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --text-dark: #403f3d;
}

[data-theme="dark"] {
  --background-body: #292826;
  --text-dark: #e1d4c9;
}
